@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

header {
  @apply bg-[#2A59FE] flex justify-center fixed w-[100%];

  .wrapper {
    @apply container p-2 xl:h-[50px] text-white grid gap-1 xl:gap-10 items-center grid-cols-[220px,1fr,280px];
    grid-template-areas: 'logo search actions';

    h1 {
      @apply text-[1.5rem] font-bold w-auto xl:w-[220px];
      grid-area: logo;
    }

    input {
      @apply bg-white py-1 px-4 rounded-sm w-auto xl:w-[400px] text-black;
      grid-area: search;
    }

    .actions {
      @apply w-auto xl:w-[280px] flex justify-end items-center text-right gap-4;
      grid-area: actions;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: unset;
      grid-template-areas:
        'logo actions actions'
        'search search search';
    }
  }
}
