@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: white;
}

header {
  @apply bg-[#2A59FE] flex justify-center fixed w-[100%];

  .wrapper {
    @apply container p-2 xl:h-[50px] text-white grid gap-1 xl:gap-10 items-center grid-cols-[220px,1fr,280px];
    grid-template-areas: 'logo search actions';

    a {
      @apply text-[1.5rem] font-bold w-auto xl:w-[220px];
      grid-area: logo;
    }

    input {
      @apply bg-white py-1 px-4 rounded-sm w-auto xl:w-[400px] text-black;
      grid-area: search;
    }

    .actions {
      @apply w-auto xl:w-[280px] flex justify-end items-center text-right gap-4;
      grid-area: actions;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: unset;
      grid-template-areas:
        'logo actions actions'
        'search search search';
    }
  }
}

.product {
  @apply bg-white p-2 rounded-sm shadow-md flex flex-col justify-between gap-2 cursor-pointer lg:max-h-[260px];

  img {
    @apply w-full object-contain rounded-sm max-h-[200px];
  }

  &__info {
    @apply flex flex-col gap-2;

    label {
      @apply max-h-[20px] overflow-hidden inline-block text-ellipsis whitespace-nowrap;
    }

    span {
      @apply text-[#2A59FE];
    }
  }

  button {
    @apply bg-[#2A59FE] text-white py-2 px-4 rounded-md;
  }
}
