#home {
  @apply flex justify-center text-black;

  .wrapper {
    @apply container px-2 lg:px-0 grid grid-cols-[220px,1fr,280px] gap-4 xl:gap-10;
    grid-template-areas: 'filter products summary';

    #filter_area {
      grid-area: filter;
      @apply grid grid-cols-1 md:grid-cols-2 gap-2 py-5 lg:p-0 lg:flex lg:flex-col lg:gap-4;
    }
    #products_area {
      grid-area: products;
      @apply grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 xl:gap-6;
    }
    #summary_area {
      grid-area: summary;
      @apply grid grid-cols-1 lg:grid-cols-2 gap-2 py-5 lg:p-0 lg:flex lg:flex-col lg:gap-4;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: unset;
      grid-template-areas:
        'summary summary summary'
        'filter filter filter'
        'products products products';
    }
  }

  .product {
    @apply bg-white p-2 rounded-md shadow-md flex flex-col justify-between gap-2 cursor-pointer;

    img {
      @apply w-full object-contain rounded-md max-h-[200px];
    }

    &__info {
      @apply flex flex-col gap-2;

      span {
        @apply text-[#2A59FE];
      }
    }

    button {
      @apply bg-[#2A59FE] text-white py-2 px-4 rounded-md;
    }
  }
}
