#home {
  .wrapper {
    @apply container px-2 lg:px-0 grid grid-cols-[220px,1fr,280px] gap-4 xl:gap-10;
    grid-template-areas: 'filter products summary';

    #filter_area {
      grid-area: filter;
      @apply grid grid-cols-1 md:grid-cols-2 gap-2 py-5 lg:p-0 lg:flex lg:flex-col lg:gap-4;
    }
    #products_area {
      grid-area: products;
      @apply mt-6 grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 xl:gap-6;
    }
    #summary_area {
      grid-area: summary;
      @apply grid grid-cols-1 lg:grid-cols-2 gap-2 py-5 lg:p-0 lg:flex lg:flex-col lg:gap-4;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: unset;
      grid-template-areas:
        'summary summary summary'
        'filter filter filter'
        'products products products';
    }
  }

  .pagination {
    @apply h-[70px] bottom-0 flex flex-wrap justify-center items-center gap-1 left-0;

    button {
      @apply px-2 border border-gray-300 cursor-pointer bg-white;
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    button.active {
      background-color: #007bff;
      color: #fff;
    }
  }
}
